

.wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data_input {
  display: flex;
  align-items: flex-end;
}

.time_separator {
  margin: 0 8px 0 8px;
}

.input_group {
  margin-right: 24px;
}

.summary_display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.summary_curency {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #9B9C97;

}


#summary{
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  color: #212121;
  margin-left: 4px;
}
